@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "../../node_modules/@fortawesome/fontawesome-free/css/all.css";
.bg-image {
    background-image: url('../assets/img/bandera.png');
    background-size: cover;
    background-position: center;
    height: 400px;
    display: flex;
    align-items: center;
}